.selector-test .selector-span-test {
    background-color: blue;
}

.selector-test .span-test {
    background-color: blue;
}

.selector-span-test #selector_span_test1 {
    background-color: green;
}

#span_test1 {
    background-color: yellow;
}

.selector-span-test {
    background-color: #c0a16b !important;
}

.selector-span-test1 {
    background-color: greenyellow;
}

.selector-span-test1 {
    background-color: saddlebrown;
}

#first_child_example ul li:first-child{
    background-color: red;
}