<!DOCTYPE html>
<html ng-app="train">
<head>
    <meta charset="UTF-8" />
    <title>HTML STUDY</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/bootflat.min.css" type="text/css"/>
    <link rel="stylesheet/less" href="../stylesheets/lessonTwo.less"/>
    <script src="../stylesheets/less.min.js"></script>
    <script src="../public/javascripts/libs/angular.min.js"></script>
    <script src="../public/javascripts/libs/jquery.min.js"></script>
    <script src="../public/javascripts/libs/plugins/angular-locale_zh-cn.js"></script>
    <script src="../public/javascripts/libs/plugins/angular-touch.min.js"></script>
    <script src="../public/javascripts/libs/plugins/angular-animate.min.js"></script>
    <script src="../public/javascripts/libs/plugins/bootstrap.min.js"></script>
    <script src="../public/javascripts/libs/plugins/ui-bootstrap-tpls.min.js"></script>
    <script src="../public/javascripts/train.js"></script>
    <script src="../public/javascripts/client.js"></script>
    <script src="../public/javascripts/app/lessonTwoController.js"></script>
</head>

<body>
<div class="html-study-two container" ng-controller="lessonTwoController">
    <h1 class="share-title">LESSON TWO</h1>
    <div class="uib-accordion">
        <uib-accordion close-others="true" ng-repeat="tag in tags">
            <uib-accordion-group is-open="status.open">
                <uib-accordion-heading>
                    <div class="panel panel-common">
                        <div class="panel-body">
                            <div class="content-title">
                                <h3>
                                    {{tag.title}}
                                    <i class="pull-right glyphicon"
                                         ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">
                                    </i>
                                </h3>
                            </div>
                        </div>
                    </div>
                </uib-accordion-heading>
                <div class="panel-body" ng-include src="'/' + tag.template"></div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>

<script type="text/ng-template" id="/piece">
    <div class="piece">
        <div class="no-nest">
            <h3>块级元素</h3>
            <div>div：这是一块</div>
            <p>p：这是一段</p>
            <hr>
            <div class="list">
                <p>这是一个div里面嵌入的p一段话</p>
                <ol>
                    <li>这是div里面嵌入的有序列表第一项</li>
                    <li>这是div里面嵌入的有序列表第二项</li>
                    <li>这是div里面嵌入的有序列表第三项</li>
                </ol>
            </div>
        </div>

        <div class="nest">
            <h3>内联元素</h3>
            <a href="javascript:void(0)">这是一个链接</a> |
            <b>这是一个加粗字体</b> |
            <code>var a = "这是一段代码"</code> |
            <input type="text" placeholder="这是一个输入框"> |
            <kbd>这是一段键盘文本</kbd> |
            <label>这是一个label标签</label> |
            <q>这是一个短引用</q> |
            <span>这是一个span标签</span>
        </div>
        <hr>
    </div>
</script>

<script type="text/ng-template" id="/disapprove">
    <div class="disapprove">
        <center>center元素</center>
        <hr>
        <strike>strike元素</strike>
        <hr>
        <s>s元素</s>
    </div>
</script>

<script type="text/ng-template" id="/format">
    <div class="disapprove">
        <b>加粗文字</b>
        <hr>
        <i>斜体文字</i>
        <hr>
        <strong>strong加粗文字</strong>
        <hr>
        <del>删除文字</del>
        <hr>
        <kbd>键盘代码</kbd>
        <hr>
        <var>var x = 1;</var>
        <hr>
        <q>定义短的引用语</q>
        <hr>
        <em>定义着重文字</em>
        <hr>
        <address>定义地址xxxxxxxxxxxxxx</address>
    </div>
</script>

<script type="text/ng-template" id="/property">
    <div class="property property-first property-second">
        <h3>class属性</h3>
        <a name="hehe">锚点</a>
        <div class="property-third">
            <p>2222222222</p>
        </div>
    </div>
    <div class="property">
        <h3>id属性</h3>
        <form action="test.html" method="get">
            <fieldset>
                <legend>for_id属性:</legend>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" tabindex="1" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>No id Email address</label>
                    <input type="email" class="form-control" tabindex="3" placeholder="No id Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" tabindex="2" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out
                        <input type="image" src="../images/duck.jpg"> image submit
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </fieldset>
        </form>
        <p id="id_class">这是一个id属性的css样式</p>
    </div>
    <div class="property">
        <h3>name属性</h3>
        <form>
            <div class="form-group">
                <label>
                    <input type="radio" name="sex" value="male">Male
                    <input type="radio" name="sex" value="female">Female
                </label>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="/marquee">
    <div>
        <marquee direction="up" behavior="scroll" scrollamount="1" scrolldelay="0" loop="-1" width="1000" height="50" bgcolor="#0099FF" hspace="10" vspace="10">
            Good good study, day day up!
        </marquee>
        <marquee direction="right" behavior="alternate" scrollamount="2" scrolldelay="0" loop="-1" width="1000" height="50" bgcolor="#dddddd" hspace="10" vspace="10">
            Good good study, day day up!
        </marquee>
        <marquee direction="left" behavior="scroll" scrollamount="3" scrolldelay="0" loop="-1" width="1000" height="50" bgcolor="#0099FF" hspace="10" vspace="10">
            Good good study, day day up!
        </marquee>
        <marquee direction="down" behavior="alternate" scrollamount="2" scrolldelay="0" loop="-1" width="1000" height="50" bgcolor="#0099FF" hspace="10" vspace="10">
            Good good study, day day up!
        </marquee>

    </div>
</script>
</body>
</html>