<!DOCTYPE html>
<html ng-app="train">
<head>
    <meta charset="UTF-8" />
    <title>HTML STUDY</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/bootflat.min.css" type="text/css"/>
    <link rel="stylesheet/less" href="../stylesheets/lessonOne.less"/>
    <script src="../stylesheets/less.min.js"></script>
    <script src="../public/javascripts/libs/angular.min.js"></script>
    <script src="../public/javascripts/libs/jquery.min.js"></script>
    <script src="../public/javascripts/libs/plugins/angular-locale_zh-cn.js"></script>
    <script src="../public/javascripts/libs/plugins/angular-touch.min.js"></script>
    <script src="../public/javascripts/libs/plugins/angular-animate.min.js"></script>
    <script src="../public/javascripts/libs/plugins/bootstrap.min.js"></script>
    <script src="../public/javascripts/libs/plugins/ui-bootstrap-tpls.min.js"></script>
    <script src="../public/javascripts/train.js"></script>
    <script src="../public/javascripts/client.js"></script>
    <script src="../public/javascripts/app/lessonOneController.js"></script>
</head>

<body>
<div class="html-study-one container" ng-controller="lessonOneController">
    <h1 class="share-title">LESSON ONE</h1>
    <div class="uib-accordion">
        <uib-accordion close-others="true" ng-repeat="tag in tags">
            <uib-accordion-group is-open="status.open">
                <uib-accordion-heading>
                    <div class="panel panel-common">
                        <div class="panel-body">
                            <div class="content-title">
                                <h3>
                                    {{tag.title}}
                                    <i class="pull-right glyphicon"
                                         ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">
                                    </i>
                                </h3>
                            </div>
                        </div>
                    </div>
                </uib-accordion-heading>
                <div class="panel-body" ng-include src="'/' + tag.template"></div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>

<script type="text/ng-template" id="/title">
    <div class="h1-h6">
        <h1>Example Page h1</h1>
        <h2>Example Page h2</h2>
        <h3>Example Page h3</h3>
        <h4>Example Page h4</h4>
        <h5>Example Page h5</h5>
        <h6>Example Page h6</h6>
    </div>
</script>

<script type="text/ng-template" id="/paragraph">
    <div class="paragraph">
        <p>This is paragraph 1.</p>
        <hr>
        <p>This is paragraph 2.</p>
        <hr>
        <p>This is paragraph 3.</p>
        <p>This is paragraph 4.</p>
        <hr>
        <p>This is a <br /> 'Br' tag.</p>
    </div>
</script>

<script type="text/ng-template" id="/link">
    <div class="link">
        <p>
            <a href="http://erealmsoft.com/" target="_blank" title="eRealm_blank">eRealm_blank</a>
        </p>
        <p>
            <a href="http://erealmsoft.com/" target="_self" title="eRealm_self">eRealm_self</a>
        </p>
        <p>
            <a href="http://erealmsoft.com/" target="_parent" title="eRealm_parent">eRealm_parent</a>
        </p>
        <p>
            <a href="http://erealmsoft.com/" target="_top" title="eRealm_top">eRealm_top</a>
        </p>
        <p>
            <a href="http://b.hiphotos.baidu.com/baike/pic/item/f2deb48f8c5494eeb12776d82af5e0fe98257eed.jpg" target="_blank" title="interesting">image</a>
        </p>
        <p>
            <a href="mailto:info@sina.com" target="_blank" title="interesting">联系新浪</a>
        </p>
        <p>
            <b>测试</b>
            <a href="javascript:void(0)" target="_blank" title="interesting">测试</a>
        </p>
    </div>
</script>

<script type="text/ng-template" id="/head">
    <div class="head">
        <img src="../images/head.png" alt="black" />
    </div>
</script>

<script type="text/ng-template" id="/image">
    <div class="image">
        <img src="../images/duck.jpg" alt="black" />
    </div>
</script>

<script type="text/ng-template" id="/list">
    <div class="list">
        <h3>无序列表</h3>
        <ol type="A">
            <li>毛大碗</li>
            <li>刀削面</li>
            <li>锅巴饭</li>
        </ol>
        <h3>有序列表</h3>
        <ul>
            <li>冒菜</li>
            <li>盒饭</li>
            <li>裤带面</li>
        </ul>
        <h3>自定义列表</h3>
        <dl>
            <dt>冒菜</dt>
            <dd>- 水+菜+芝麻酱+辣椒</dd>
            <dt>肉夹馍</dt>
            <dd>- 肉+馍</dd>
        </dl>
    </div>
</script>

<script type="text/ng-template" id="/table">
        <table class="table">
            <caption>无边框表格</caption>
            <tbody>
            <th>
                饮料
            </th>
            <th>
                水果
            </th>
            <th>
                零食
            </th>
            <tr>
                <td>咖啡</td>
                <td>西瓜</td>
                <td>面包</td>
            </tr>
            <tr>
                <td>可乐</td>
                <td>李子</td>
                <td>饼干</td>
            </tr>
            <tr>
                <td>咖啡</td>
                <td>西瓜</td>
                <td>面包</td>
            </tr>
            </tbody>
        </table>
        <table class="table" border="1">
            <caption>有边框表格</caption>
            <tbody>
            <th>
                饮料
            </th>
            <th>
                水果
            </th>
            <th>
                零食
            </th>
            <tr>
                <td>咖啡</td>
                <td>西瓜</td>
                <td>面包</td>
            </tr>
            <tr>
                <td>可乐</td>
                <td>李子</td>
                <td>饼干</td>
            </tr>
            </tbody>
        </table>
        <table class="table" border="1">
            <caption>跨行表格</caption>
            <tbody>
            <th>
                饮料
            </th>
            <th colspan="2">
                水果
            </th>
            <tr>
                <td>咖啡</td>
                <td>西瓜</td>
                <td>面包</td>
            </tr>
            <tr>
                <td>可乐</td>
                <td>李子</td>
                <td>饼干</td>
            </tr>
            </tbody>
        </table>
        <table class="table" border="1">
            <caption>跨列表格</caption>
            <tbody>
            <th>
                饮料
            </th>
            <th>
                水果
            </th>
            <th>
                零食
            </th>
            <tr>
                <td  rowspan="3">咖啡</td>
            </tr>
            <tr>
                <td>可乐</td>
                <td>饼干</td>
            </tr>
            <tr>
                <td>可乐</td>
                <td>饼干</td>
            </tr>
            </tbody>
        </table>
</script>

<script type="text/ng-template" id="/form">
    <form action="test.html" method="get">
        <fieldset>
            <legend>Personalia:</legend>
            <div class="form-group">
                <label for="firstname">First name: </label>
                <input type="text" name="firstname" placeholder="first name"><br>
            </div>
            <div class="form-group">
                <label>Last name: </label>
                <input type="text" name="lastname">
            </div>
            <div class="form-group">
                <label>Password: </label>
                <input type="password" name="pwd">
            </div>
            <div class="form-group">
                <label>
                    <input type="radio" name="sex" value="male">Male
                    <input type="radio" name="sex" value="female">Female
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" name="vehicle" value="Bike">I have a bike
                    <input type="checkbox" name="vehicle" value="Car">I have a car
                </label>
            </div>
            <div class="form-group">
                <select name="cars">
                    <option value="volvo" selected>Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <div class="form-group">
                <select name="Foods">
                    <optgroup label="Fruits">
                        <option value="apple">apple</option>
                        <option value="pair">pair</option>
                    </optgroup>
                    <optgroup label="Drink">
                        <option value="water">water</option>
                        <option value="sprite">sprite</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <textarea name="textarea" rows="10" cols="30"></textarea>
            </div>
            <div class="form-group">
                <input list="browsers" name="browser">
                <datalist id="browsers">
                    <option value="Internet Explorer">
                    <option value="Firefox">
                    <option value="Chrome">
                    <option value="Opera">
                    <option value="Safari">
                </datalist>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit">
            </div>
        </fieldset>
    </form>
    <form class="output-form" oninput="x.value=parseInt(a.value)+parseInt(b.value)">
        0<input type="range" id="a" value="50">100
        +<input type="number" id="b" value="50">
        =<output name="x" for="a b"></output>
    </form>
</script>

<script type="text/ng-template" id="/layout">

</script>

<script type="text/ng-template" id="/iframe">
    <iframe src="http://educationaxis.erealmsoft.com/login" width="500px" height="500px"></iframe>
    <iframe src="http://educationaxis.erealmsoft.com/login" width="500px" height="500px" frameborder="0"></iframe>
</script>
</body>
</html>