*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
body{
    background-color: #ccc;
    overflow-x: hidden;
    min-width: 440px;
}
img{
    width: 200px;
    height: 200px;
}
#jingxiang{
    float: right;
}
p{
    line-height: 1.4em;
    font-family: "微软雅黑";
    text-indent: 2em;
    margin-top: 10px;
    white-space: pre-line;
}
h3,span{
    color: #b9b9b9;
    margin: 10px 0;
}
span{
    font-size: 14px;
    white-space: pre-wrap;
}
ul li{
    list-style:none;
}
header{
    width: 100%;
    height: 70px;
    background-color: #000;
    position: relative;
}
header img{
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px;
}

header ul{
    float: right;
    font-size: 14px;
}
header li{

    display: inline-block;
    padding: 25px 10px;
    height: 70px;
}
header a{
    color: #fff;
    text-decoration: none;
}
header li:hover{
    background-color: #ccc;
}

article,aside{
    padding: 20px;
    margin: 20px;
    background: #fff;
    box-shadow: 1px 1px 2px 1px #000;
}
article{
    margin-right: 490px;
    min-width: 300px;
}
article li{
    font-size: 20px;
    color: #74adf8;
    margin-top: 1em;
    text-indent: 2em;
}
.pic{
    display: flex;
    flex-wrap:wrap;
}
.pic h2{
    width: 100%;
}
figure{
    border: 1px solid #ccc;
    margin: 20px 0 0 5%;
    padding: 10px;
    width: 220px;
}
figcaption{
    display: inline;
    margin-left: 60px;
}
ol{
    margin-left: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table,tr,td,th{
    border: 2px solid #e7eeff;
    padding: 8px;
}
th{
    background-color: #000;
    color: #fff;
    text-align: left;
}
tr:last-child{
    background-color: #ccc;
}
h4{
    margin: 15px;
}
aside{
    width: 450px;
    float: right;
    position: relative;
}
label{
    text-align: right;
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
}
aside p{
    text-indent: unset;
    margin: -10px 0 10px 4px;
    position: relative;
    left: 50%;
    color: #ccc;
}
.button{
    color: #fff;
    font-size: 18px;
    width: 90%;
    height: 50px;
    display: block;
    background-color: #74adf8;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;

}
textarea{
    width: 49%;
    height: 100px;
    float: right;
    margin-bottom: 10px;
}
footer{
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
}
footer p{
    display: inline-block;
    margin: 20px 45%;
}